.botao {
    background-color:rgb(25, 226, 119);
    border-radius: 10px;
    font-weight: 700; 
    font-size: 16px;
    padding: 16px;
    border: none; 
    cursor: pointer; 
    color: #FFF; 
    margin: 8px;
}

.botao:hover { 
    color:#fff;
}