.botao {
    background-color:rgb(25, 226, 119);
    border-radius: 10px;
    font-weight: 500; 
    font-size: 18px;
    padding: 32px;
    border: none; 
    cursor: pointer; 
    background-color: rgb(25, 226, 119);
    margin: 32px;
    margin-left: auto;
    
}

.botao:hover { 
    color:#fff;
}