.formulario {
    display: flex;
    justify-content: center; /* Alinhamento orizontal no centro */
    margin: 80px 0; /* Margem de 80px para cima e para paixo e zero para a direita e esquerda */
}

.formulario form{
/* box-shadow == Sompra da caixa. Estamos incluindo o sompreamento com opacidade de 0.08 */
}